.top_home_section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;

}

.top_chart {
  flex: 0 0 30%;
}

.heading {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.release__container {
  overflow: hidden;
  width: 100%;
  margin-bottom: 4rem;
}