@import "../../sass/variables.scss";


.nav {
  padding: 4rem 2rem;
  align-items: center;

  &__logo {
    margin-bottom: 4rem;
    text-align: center;

    img {
      width: 4rem;
    }
  }


  &__links {
    margin-bottom: 2rem;
    background-color: $dark-alt;
    border-radius: 2rem;
    padding: 1rem;

    li {
      list-style: none;
      margin-bottom: 1rem;
      // padding: 2rem;
      text-align: center;

      &:not(:last-child) {
        padding-bottom: 2rem;
      }
    }

    a {
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 500;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $primary;
      }
    }

    svg {
      fill: #EFEEE0;
      transition: all 0.3s ease-in-out;
      width: 2.5rem;

      &:hover {
        fill: $primary;
      }
    }
  }
}