@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "./sass/variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-family: 'Quicksand', sans-serif;
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: $dark;
  color: white;
}

